<p>Base Productos</p>

<!--Agregar Producto-->
<div class="vistaAgregar">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput laceholder="Apellido" type="text" [(ngModel)]="nombre" >
  </mat-form-field> &nbsp;
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Descripcion</mat-label>
    <input matInput laceholder="Apellido" type="text" [(ngModel)]="descripcion" >
  </mat-form-field> &nbsp;
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Precio</mat-label>
    <input matInput laceholder="Apellido" type="number" [(ngModel)]="precio" >
  </mat-form-field> &nbsp;
  <button mat-stroked-button color="primary" (click)="addProducto()">Agregar</button>
</div><br/>


<!--vista del producto-->
<div class="cuadros" >
  <mat-card class="vistaCard" *ngFor="let element of cart">
    <mat-card-header>
      <mat-card-title>{{element.nombre}}</mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
        <p>
          {{element.descripcion}}
        </p>
    </mat-card-subtitle>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <p>
           <b>$ {{element.precio}}</b>
        </p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="openEdit(element)" mat-stroked-button color="primary">Editar</button>
      <button (click)="openDelete(element)" mat-stroked-button color="warn">Eliminar</button>
    </mat-card-actions>
  </mat-card>
</div><br/>
